/* Report Page Styles */
.report-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Makes the container take up most of the viewport */
    text-align: center;
}

.report-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.report-content h2 {
    color: #2c3e50;
    margin-bottom: 20px;
    font-size: 24px;
}

.report-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.report-buttons button {
    background-color: #23708e;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.report-buttons button:hover {
    background-color: #2b4765;
}
